.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://wallpaper.forfun.com/fetch/0b/0bc739968eeb709d8eebbdb132141cb8.jpeg");
  background-size: cover;
  background-position: center;
  color: #f6f0f0;
}

.loginpage {
  height: 350px;
  border: 5px solid #fefbfb00;
  box-shadow: 0 0 20px rgb(210, 9, 9);
  border-radius: 70px;
  width: 400px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.input {
  overflow: hidden;
  border: none;
  background: linear-gradient(
    to right,
    rgba(90, 39, 10, 0),
    rgba(13, 17, 20, 0)
  );
  color: wheat;
}

.input:focus {
  outline: none;
}

.inputdiv {
  border-radius: 30px;
  border: 2px solid #f6f0f0;
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  padding: 4px;
  margin-top: 10px;
  margin-left: 100px;
  align-items: center;
  justify-content: space-between;
}

.remember {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.remember a {
  color: rgb(171, 116, 76);
}

.login {
  padding: 20px;
}

.button {
  border: none;
  background-color: aqua;
  color: #040404;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.register {
  padding: 40px;
}

.register button {
  color: rgb(255, 255, 255);
  border: none;
  background: none;
  text-decoration: underline;
}

.password-div {
  display: flex;
  flex-direction: column;
}

.registers {
  display: flex;
   gap: 100px ;
  margin-top: 30px;
}

.inputdivs {
  border-color: #ffffff;
  border: 2px solid #f6f0f0;
  margin-top: 20px;
  width: 200px;
  border-radius: 30px;
  margin-left: 100px;
}
